
body {
    background-color: var(--light);
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 20px 20px 0 20px;
    left: 0;
    right: 0;
    width: 100%;

}

h1 {
    text-align: center;
    left: 0;
    right: 0;
    margin: 0;
    padding-top: 35vh;
    font-size: calc(50px + 6vw);
    font-family: Fractul Alt, sans-serif;
    -webkit-text-fill-color: var(--dark);
    -webkit-text-stroke: 2px var(--light);
    text-shadow: 0 0 var(--light);
    transition: text-shadow 0.3s ease-in-out,
    -webkit-text-fill-color 0.3s ease-in-out;
}

h1:active {
    text-shadow: 5px 5px var(--light);
}

h2 {
    text-align: center;
    left: 0;
    right: 0;
    margin: 0;
    padding-top: 20vh;
    font-size: calc(20px + 5vw);
    font-family: Fractul Alt, sans-serif;
    -webkit-text-fill-color: var(--light);
    -webkit-text-stroke: 2px var(--dark);
    text-shadow: 5px 5px var(--dark);
}

h3 {
    text-align: center;
    left: 0;
    right: 0;
    margin: 0;
    padding-top: 5vh;
    font-size: calc(15px + 1vw);
    font-family: "Space Mono", sans-serif;
    color: var(--dark);
}

h4 {
    font-weight: bold;
    font-size: calc(10px + 1vw);
    padding-bottom: 0;
    margin-bottom: 0;
var(--dark)
}

p {
    font-size: 20px;
    font-family: Garamond, serif;
    color: var(--dark);
    margin-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
    line-height: 26px;
    text-align: justify;
}

button {
    font-family: "Space Mono", monospace;
    font-size: calc(0.7vw + 7px);
    text-decoration: none;
    color: var(--light);
    padding: 5px 12px 5px 12px;
    border-radius: 10px;
    border: 2px solid var(--dark);
    background-color: var(--dark);
    display: inline-block;
    margin: 5px 5px 5px 5px;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

button:hover {
    text-decoration: none;
    color: var(--dark);
    background-color: var(--light);
    box-shadow: 4px 4px 0 var(--dark);
}

a {
    color: var(--accent);
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    font-weight: bold;
}

sup {
    font-family: "Space Mono", monospace;
    font-size: 12px;
    color: var(--dark);
}

.content {
    left: 0;
    right: 0;
    padding-right: 10vw;
    padding-left: 10vw;
}

.search {
    font-family: "Space Mono", monospace;
    font-size: 15px;
    border-radius: 30px;
    border: 2px solid var(--dark);
    margin: 5px;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;
    padding: 5px 5px 5px 20px;
    color: var(--dark);
}

.mono {
    font-family: "Space Mono", monospace;
    font-size: 18px;
    color: var(--dark);
    padding-left: 0;
}


.search_result {
    font-family: "Space Mono", monospace;
    font-size: 20px;
    color: var(--dark);
    padding-left: 0;
}

.version-class {
    position: absolute;
    margin: 0;
    height: 30px;
    padding-left: 10px;
    font-size: 100%;
    top: calc(100vh - 30px);
    font-family: "Space Mono", monospace;
    color: var(--light);
}

.background {
    background-color: var(--dark);
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    height: 100vh;
    top: 0;
}

.horizontal-space {
    height: 1vh;
}

.horizontal-space-10 {
    height: 10vh;
}

.box {
    outline: var(--dark) solid 3px;
    position: relative;
    border-radius: 10px;
    color: var(--dark);
    padding: 10px;
    box-shadow: 10px 10px var(--dark);
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    margin-bottom: 40px;
    background-color: var(--light);
    transition: box-shadow 0.3s ease-in-out, margin-left 0.3s ease-in-out,
    margin-right 0.3s ease-in-out, padding-left 0.3s ease-in-out,
    padding-right 0.3s ease-in-out;
}

.box:hover {
    box-shadow: 15px 15px var(--dark);
}

.column {
    float: left;
    width: 33.33%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    border-radius: 20px 20px 0 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 4vw 0 4vw;
    height: auto;
    background-color: var(--dark);
    color: var(--light);
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    padding: 50px 10px 10px 50px;
    position: relative;
    display: block;
}

.copyright {
    bottom: 0;
    right: 0;
    border-top: 10px;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    border-radius: 10px 0 0 0;
    position: fixed;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: var(--accent-transparent);
}

.logo {
    top: 0;
    left: 0;
    padding: 20px;
    position: fixed;
}

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::selection {
    color: var(--light);
    background: var(--accent-transparent);
    height: 20%;
}

:root {
    --light: hsl(180, 100%, 99%);
    --dark: hsl(180, 100%, 5%);
    --accent: hsl(180, 100%, 20%);
    --accent-transparent: hsla(180, 100%, 20%, 0.7);

}