<!DOCTYPE html>
<html lang="en" style="background: hsl(180, 100%, 5%)">
  <head>
    <meta charset="UTF-8" />
    <title>Hackers</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='hacker.css') }}"
    />
    <link rel="icon" href="{{ url_for('static',
    filename="images/logo-light.svg") }}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Silkscreen:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="background">
      <h1>Hackers</h1>
      <p class="version-class">{{ version }}</p>
    </div>
    <div class="horizontal-space"></div>
    <div class="content">
      <div style="text-align: center">
        <button>HTML</button>
        <button>Javascript</button>
        <button>Python</button>
        <button>C++</button>
        <button>Java</button>
      </div>

      <div class="horizontal-space"></div>
      <p class="box">
        <b>A Note</b><br />
        To all Hackers,
        <br /><br />
        Hi! If you ever find this page, you are really lucky. Either you used a
        crawler to scan this website or inspected the 404 page. Either way, you
        are interested in hacking it. Don't worry, I'm okay with you wandering
        around the website as long as you don't cause it to crash.<br /><br />

        ~ Perseus
      </p>
      <div class="horizontal-space"></div>
    </div>

    <div class="footer">
      <div class="row" style="padding-left: 10px; padding-right: 10px">
        <div class="column">
          <b>Getting Started:</b><br />
          <button onclick="window.location.href='/'">Home</button>
          <br />
          <button onclick="window.location.href='/guide'">Guide</button>
          <br />
          <button onclick="window.location.href='/search'">Search</button>
          <br />
          <button onclick="window.location.href='/help'">Help</button>
          <br />
          <button onclick="window.location.href='/about_studium'">
            About Studium
          </button>
        </div>
        <div class="column">
          <b>Topics:</b><br />
          <button onclick="window.location.href='/chemistry/chemistry'">
            HTML
          </button>
          <br />
          <button onclick="window.location.href='/physics/physics'">
            Javascript
          </button>
          <br />
          <button>Python</button>
          <br />
          <button>C++</button>
          <br />
          <button>Java</button>
          <br />
        </div>
        <div class="column">
          <b>Helping Out:</b><br />
          <button>Contribute</button>
          <br />
          <button onclick="window.location.href='/about_studium'">
            About Studium
          </button>
          <br />
          <button onclick="window.location.href='/about_us'">About Us</button>
          <br />
          <button>Join Us</button>
          <br />
        </div>
      </div>
    </div>
  </body>
  <div class="copyright">
    <p
      style="
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        line-height: normal;
        color: hsl(0, 0%, 100%);
      "
    >
      &nbsp;<b style="font-family: Arial, serif">©</b>&nbsp;&nbsp; Copyright {{
      copyright }} 2024
    </p>
  </div>
</html>
